<h1>LOGIN</h1>

<body>
    <form id="form" action="/login" method="POST">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" placeholder="username">

        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" placeholder="pw">
        <br>
        <br>

        <button>LOGIN</button>
    </form>
</body>